#container {
  margin: 0 auto;
  margin-top: 25px;
}

#container, #canvas {
  height: 600px;
  width: 800px;
}

.start {
  fill: #1C8404;
}

.end {
  fill: #F80704;
}

.wall {
  fill: #A9A9A9;
}

.high-cost-tile {
  fill: #041DFCAB;
}

.pending-traversal {
  fill: #98FB98;
}

.visited {
  fill: #AFEEEE;
}

.wall, .high-cost-tile {
  transition: fill 0.5s ease;
}

.navbar .toggle-handle {
  background-color: #fff;
}

.navbar .toggle-on {
  background-color: #0d6efd !important;
}

.navbar .toggle-off {
  background-color: #6c757d !important;
  color: white !important;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
